
html {
    background:#1a3b70;
}

h1 {
    color:lightsteelblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60pt;
    font-weight: bold;
    text-align: center;
}

p {
    margin-left:5%;
    margin-right:5%;
    font-family:'Courier New', Courier, monospace;
    font-size:16pt;
    color:lightsteelblue;
}

a {
    font-family:'Courier New', Courier, monospace;
    font-size:14pt;
    color:lightcoral;
}
