<script src="subheader.js"></script>

<div class="sitemap">projects // portfolio</div>

<div style="font-size: 24pt; text-align: center; margin-top:250px;"><i>Layout & Design Portfolio</i></div>

<p style='text-align:center;margin-left:30%;margin-right:30%;'>
    <i>A collection of projects or documents that demonstrate my layout and design experience, with particular
        focus on publication-quality research or project reports.</i>
</p>

<div class='listing' style='margin-top:30px;'>
    <img src='../gis.png' style='float:right;'>
    <p>
        <br>
        For a final project for a Geographic Information Systems class at Guilford College, I studied urban sprawl 
        and smart growth solutions. The <a href="../gis.pdf">final paper</a> for that project required tight integration of text, charts, maps,
        and images in order to appropriately convey the information. 
    </p>

</div>
<div class='listing'>
    <img src='logo.png' style='float:left;'>
    <p>
        <br>
        I worked as head photographer for my high school yearbook for several years, and as editor-in-chief my senior year. 
        During that time I designed two covers for the yearbook in addition to regular layout work. 
        You can see those covers <a href="cover1516.jpg">here</a> and <a href="cover1617.jpg">here</a>. 
    </p>
</div>

<div class="listing">
    <img src='mag.png' style='float:right;'>
    <p>
        My combined final project for all my sophomore year classes was to write and product a magazine issue on environmentalism
        and sustainabile living. I did some writing and all the layout for this project, a PDF of which can be found <a href="magazine.pdf">here</a>. 
        While it was a long time ago and the content does not necessarily the reflect the level of work I am capable of now, I think 
        this work exhibits the degree to which layout and information design are important and come naturally to me. 
    </p>
</div>

<div style="font-size: 24pt; text-align: center; margin-top: 40px;"><i>Scientific Writing Sample</i></div>

<p style='text-align:center;margin-left:30%;margin-right:30%;'>
    <i>A few examples of my experience writing and editing detailed, technical, and/or scientific 
        reports accessible to a wide array of audiences.
    </i>
</p>

<div class="listing" style="margin-top:30px;">
    <img src='../gus.jpg' style='float:left;'>
    <p>
        In the Spring of 2018 I co-wrote with a professor and submitted for publication an article on the Lucky Imaging process for 
        astrophotography. As first author, the bulk of the writing is my own. Our article was accepted with no edits and published 
        in the October 2018 issue of <i>The Physics Teacher</i>. You can see the article in PDF form <a href="../astro_oct.pdf">here</a>.
        I also presented this project in <a href='../poster2.pdf'>poster form</a> at the Guilford College Undergraduate Symposium
        in April 2018.
    </p>
</div>

<div class="listing">
    <img src="../m3.png" style="float:right;">
    <p>
        <br>
        In the Spring of 2018, I worked with a team of fellow students at the Early College at Guilford to complete the 
        SIAM Mathworks Math Modelling Challenge, a 14-hour long math competition. We developed a model to address food waste in the
        U.S. and submitted a paper which won Honerable Mention in the competition. The final paper can be seen <a href='../m32018.pdf'>here</a>.
    </p>
</div>














<script src="../footer.js"></script>